<hr class="clearfix hidden-print" />
<div class="footer  hidden-print">
    <div class="pull-right">



    </div>
    <div>
        <strong>Copyright</strong>  plazadmc.com  &copy; 2017 - @DateTime.Now.Year
    </div>
</div>
