<div id="right-sidebar">
    <div class="sidebar-container">
        <ul class="nav nav-tabs navs-3">
            <li class="active"><a data-toggle="tab" href="#Deadline">Deadline Date</a></li>
            <li><a data-toggle="tab" href="#Note">File Note </a></li>
            <li><a data-toggle="tab" href="#Agency">Who to Contact </a></li>
            <li><a data-toggle="tab" href="#Fowner">File Owner</a></li>
        </ul>
        <div class="tab-content">

            <div id="Deadline" class="tab-pane active">
                <div class="sidebar-title">
                    <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
                    <small><i class="fa fa-tim"></i> You have 10 new message.</small>
                </div>
                <div>
                    <div class="col-lg-12">
                        <label>Deadline date: </label>
                        <div class="input-group input-group">
                            <span class="input-group-addon"></span>
                            <div id="sandbox-container">
                                <div class="input-daterange input-group" id="datepicker">
                                    <input type="text" class="input-sm form-control"  />
                                </div>
                            </div>
                        </div>
                        <label>Category: </label>
                        <div class="input-group input-group">

                            <span class="input-group-addon"></span>
                            <select>
                                <option value="value">options</option>
                            </select>
                        </div>
                        <label>Note:  </label>
                        <div class="input-group input-group">
                            <span class="input-group-addon"></span>
                            <textarea></textarea>
                            <button>@T("add")</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

