<section class="section section-custom-map-2">
    <section class="section section-default section-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
                        <div>
                            <img class="img-responsive" src="/HomeTemplate/img/logos/logo-1.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="/HomeTemplate/img/logos/logo-2.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="/HomeTemplate/img/logos/logo-3.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="/HomeTemplate/img/logos/logo-4.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="/HomeTemplate/img/logos/logo-5.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="/HomeTemplate/img/logos/logo-6.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="/HomeTemplate/img/logos/logo-4.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="/HomeTemplate/img/logos/logo-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>